/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 #sidebar-right{
   position: fixed;
   top: 0 ;
   right: 0;
   width: 200px;
   height: 2000px;
   background-color: #F2F2F2;
   color: #333;
   margin: 0;
   padding: 0;
 }

 #content{
   margin-left: 250px;
   float:left;
 }



 #sidebar-left{
   float: left;
   position: fixed;
   width: 200px;
   height: 100%;
   background-color: #283739;
   color: white;
   font-size: 1.5em;
   margin: 0;
   padding: 5px 0px 0px 5px;
 }

#lname-ul{
padding: 0;
margin: 0;
  .comment{
    overflow: hidden;
  }


  .date{
    opacity:0.5;
  }

  #review{
    border: solid;
    margin: 5px;
  }
}

div#topt{
  margin: 10px 0px;
}
div#left-top{
  font-size: x-large;
  margin: 50px 0px 15px 5px;
}
div#right-top{
  margin: 15px 0px;
}
div.adj{
  font-size: large;
  font-weight: bold;
  margin: 5px 0px;
}
span{
  font-weight: bold;
}
span#lname-top{
  padding: 0px 0px 0px 5px;
  margin: 10px 0px 0px 0px;
  font-size: xx-large;
}
span.subtxt{
  font-size: x-large;
}
div#subtop{
  color: #999999;
  font-size: large;
  vertical-align:middle;
}
