// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-icon{
  font-size: 20px;
  color: red;
}

.date{
  color:#aaa;
}

.content{
  width: 70%;
}
