<div id="sidebar-left">
 <ul id="lname-ul" style="list-style-type: none">
   <li>電子回路</li>
   <ul style="list-style-type: disc">
     <li>第１回</li>
     <li>第２回</li>
     <li>第３回</li>
     <li>第４回</li>
     <li>第５回</li>
     <li>第６回</li>
   <br></ul>
   <li>離散数学</li>
   <ul style="list-style-type: disc">
     <li>第１回</li>
     <li>第２回</li>
     <li>第３回</li>
     <li>第４回</li>
     <li>第５回</li>
     <li>第６回</li>
   <br></ul>
   <li>システム制御</li>
   <ul style="list-style-type: disc">
     <li>第１回</li>
     <li>第２回</li>
     <li>第３回</li>
     <li>第４回</li>
     <li>第５回</li>
     <li>第６回</li>
   <br></ul>
 </ul>
</div>
