<div id="sidebar-left">
 <ul id="lname-ul" style="list-style-type: none">
   <% @channels.each do |channel| %>
    <li>
      <%= link_to channel.name , channel_path(channel.id) %>
    </li>
   <% end %>
  </ul>
</div>
