<span id=lname-top>電子工学</span>
<span class="subtxt">　第3回</span>
<span class="subtxt">　1２月２６日</span>
<div id=subtop>
	<span style="float: right;">
		<img src="assets/images/syllabus_button.png"  alt="icon" width="30" height="30" align="middle" >
		<img src="assets/images/favorite_button.png"  alt="icon" width="30" height="30" align="middle" >
		<img src="assets/images/setting_button.png"  alt="icon" width="30" height="30" align="middle" >
	</span>
	<img src="assets/images/teacher_icon.png"  alt="icon" width="20" height="20" align="middle" >
	<span>下井倉　慶紀　　　</span>
	<img src="assets/images/member_icon.png"  alt="icon" width="20" height="20" align="middle" >
	<span>56</span>
	<br style="clear: right;">
</div>
