<p id="notice"><%= notice %></p>

<dd>
  <iframe src="http://www.slideshare.net/slideshow/embed_code/<%= @slideId %>?rel=0" width="427" height="356"
            frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;
            border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen>
  </iframe>
</dd>

<% @comments.each do |comment| %>
  <h1><%= comment.content %></h1>
<% end %>




<%= link_to 'New Channel', new_channel_path %>
